#block-reassurance {
    font-size: 90%;
    text-transform: uppercase;
    .list-group-item {
        position: relative;
        padding-left: 10px;
        padding-right: 28px;
    }
    .more-info-icon {
        position:absolute;
        top: 2px;
        right: 2px;
        opacity: 0.8;
        cursor: pointer;
        color: $primary;
        i {
            transform:rotate(180deg);
        }
    }

    // Ajustes versión móvil
    @include media-breakpoint-down(sm) {

        .list-group-item {
            border-width: 1px 0 1px;
            &:first-child {
                border-top-width: 0;
            }
        }
    }
}