.category-grid {

    & > * { 
        margin-bottom: 15px;
        @include media-breakpoint-down(sm) {
            margin-bottom: 3px;
        }
    }

    @include media-breakpoint-down(sm) {
        margin-left: -15px;
        margin-right: -15px;
    }

    @media (min-width: 635px) {
        display: grid;
        grid-gap: 15px;
        & > * { 
            justify-self: stretch;
            margin-bottom: 0;
        }
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
    @media (min-width: 915px) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    
}

$category-img-height: 150px;

.category-miniature {

    position: relative;
    padding-left: 1rem;
    padding-right: ($category-img-height * 0.5) + 15px;
    height: $category-img-height * 0.5;
    overflow-y: hidden;

    @media (min-width: 635px) {
        padding-left: 1.25rem;
        padding-right: ($category-img-height * 0.75) + 5px;
        height: $category-img-height * 0.75;
    }
    @media (min-width: 915px) {
        padding-right: $category-img-height + 5px;
        height: $category-img-height;
    }

    background-attachment: fixed;
    // Lion milk
    background-color: #aee1f9;
    background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
    // Wedding song (toque rosa)
    // background-color: #fde7f9;
    // background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
    // Fear of swedish (casi imperceptible)
    // background-color: #e7eff9;
    // background-image: linear-gradient(315deg, #e7eff9 0%, #cfd6e6 74%);
    // Wish stone (oscuro)
    // background-color: #e3efe8;
    // background-image: linear-gradient(315deg, #e3efe8 0%, #96a7cf 74%);
    // Wedding song al revés
    // background-color: #fde7f9;
    // background-image: linear-gradient(315deg, #aacaef 0%, #fde7f9 74%);

    &:hover {
        text-decoration: none;
        background-attachment: scroll;

        .image-link {
            opacity: .8;
        }
    }

    .category-miniature-title {
        color: $body-color;
        font-size: 1.25rem;
        font-weight: 300;
        &:hover {
            color: $body-color;
        }
        @media (min-width: 635px) {
            font-size: 1.75rem;
        }
    }

    .image-link {
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        bottom: 0;
        max-height: 100%;
        opacity: .2;
        transition: opacity 500ms;
        
        @include media-breakpoint-down(sm) {
            opacity: 1;
            right: 10px;
        }
    }

    @media (max-width: 634px) {
        .view-button>.btn {
            padding: 0.1rem 0.5rem 0.15rem;
            font-size: 0.75rem;
        }
    }

}