$card-selected-color: #c7e8ff;

.cart-summary {
    .value {
        float: right;
    }
}

#checkout {
    .nav-link {
        font-weight: 700;
        font-size: 1.1em;
        opacity: 0.4;
        &.active {
            opacity: 1;
        } 
    }

    .step-title {
        text-transform: uppercase;

        .step-edit {
            font-size: 1rem;
            text-transform: lowercase;
            .material-icons {
                font-size: 20px;
            }
            span {
                padding-left: 1.5em;
            }
        }
    }

    .address {
        font-size: 0.9em;
    }

    .address-footer {
        font-size: 0.8em;
        padding: .25rem 1.25rem .5rem;
        .material-icons {
            font-size: 20px;
        }
    }

}
#accordion {
    .card.selected {
        background-color: $card-selected-color;
    }
    .card-header:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.06);
        .step-edit {
            display: inline-block !important;
        }
    }

    .additional-information {
        margin-left: 1.5rem;
        margin-top: 1.25rem;
        font-size: .9rem;
        color: lighten($body-color, 10%);
    }

    .step-done-check {
        color: $green;
        line-height: 0;
        position: relative;
        top: 2px;    
    }
}
