.cart-summary {
    .value {
        float: right;
    }
}

#checkout {
    .nav-link {
        font-weight: 700;
        font-size: 1.1em;
        opacity: 0.4;
        &.active {
            opacity: 1;
        } 
    }

    .step-title {
        text-transform: uppercase;
    }

    .address {
        font-size: 0.9em;
    }

    .address-footer {
        font-size: 0.8em;
        padding: .25rem 1.25rem .5rem;
        .material-icons {
            font-size: 20px;
        }
    }

}