$modal-lg: 600px;
$modal-md: 600px;
$modal-sm: 600px;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$primary: lighten(#052c59, 10%);
$accent: yellow;


$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Breadcrumbs

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 1rem;
$breadcrumb-bg: inherit;
$breadcrumb-divider: quote(">");

// Pagination

$pagination-bg:                     inherit;
$pagination-border-width:           0;