$modal-lg: 600px;
$modal-md: 600px;
$modal-sm: 600px;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

$accent: yellow;
$base-color: lighten(#052c59, 10%);
$header-nav-background: darken($base-color, 10%);
$footer-nav-background: $header-nav-background;

$enable-rounded: false;
$enable-gradients: true;
$enable-shadows: false;
$enable-transitions: true;

// Breadcrumbs

$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;
$breadcrumb-margin-bottom: 1rem;
$breadcrumb-bg: inherit;
$breadcrumb-divider: quote(">");

// Pagination

$pagination-bg:                     inherit;
$pagination-border-width:           0;