$header-top-background: lighten($header-nav-background, 5%);
$header-top-color: rgba(255, 255, 255,0.7);
$header-top-color-hover: rgba(255, 255, 255,1);
$header-top-font-size: 0.9rem;

.header-top {
    padding-top: 10px;
    background-color: $header-top-background;
    color: $header-top-color;
    font-size: $header-top-font-size;

    a {
        color: $header-top-color;
    }

    a:hover {
        color: $header-top-color-hover;
        text-decoration: none;
        transition: color 0.2s;
        transition: background-color 0.2s;
    }

    .logo {
        margin-bottom: 10px;
    }

    .searchbar-space {
        width: 250px + 10px;
    }

    #main-menu {
        .nav-link {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
            border-bottom: 2px solid $header-top-background;
            &.active {
                background-color: inherit;
                border-bottom-color: $accent;
            }
            &:hover {
                background-color: lighten($header-top-background, 10%);
                border-bottom-color: $accent;
            }
            &:focus {
                outline: 0;
            }
        }

        .dropdown-menu {
            background-color: white;
            a {
                color: $body-color;
                // max-width: 350px;
                &.active {
                    background-color: inherit;
                    color: inherit;
                }
                &:hover {
                    background-color: $gray-200;
                    color: inherit;
                }
            }
        }
        
    }

    #search_widget {
        position: absolute;
        top: 10px;
        right: 0;
        width: 250px;
        height: 60px;

        label {
            color: $header-top-color-hover;
        }

        input {
            background-color: inherit;
            color: $header-top-color-hover;
            border: 0 solid $header-top-color-hover;
            border-radius: 0;
            border-bottom-width: 1px;
            margin-left: -25px;
            padding-left: 30px;
            box-shadow: none !important;
        }

        input::placeholder {
            color: $header-top-color;
        }
    }
}

