$header-nav-color: white;
$header-nav-color-hover: white;
$header-nav-font-size: 0.9rem;

.header-nav {
    background-color: $header-nav-background;
    color: $header-nav-color;
    font-size: $header-nav-font-size;

    a,
    .dropdown-toggle,
    .dropdown-item {
        color: $header-nav-color;
        &:hover {
            color: $header-nav-color-hover;
            text-decoration: none;
            transition: 0.2s;
            background: lighten( $header-nav-background, 20% );
        }
    }

    .header-nav-item {
        display: flex;
        &>* {
            padding: 8px 5px;
        }
    }

    .dropdown-menu {
        background-color: $header-nav-background;
        color: $header-nav-color;
        font-size: $header-nav-font-size;
    }

    .material-icons {
        font-size: 20px;
    }
    
}

.language-selector {
    .dropdown-toggle img {
        height: 18px;
        width: 27px;
        position: relative;
        bottom: 2px;
    }
}

.blockcart .icon-adjust {
    @include media-breakpoint-down(sm) {
        span:not(.cart-products-count) {
            display: none;
        }
        span.cart-products-count {
            margin-left: 2em;
        }
    }
}
