.product-details-card {
    .card-header {
        a.brand-logo {
            float: right;
            margin: -0.25rem -0.75rem;

            img {
                max-height: 60px;
                max-width: 120px;
            }
        }
    }

    .product-flags {
        position: relative;
        top: -2px;
        
        &>li {
            background-color: $primary;
            &.discount {
                background-color: $success;
            }
            &.on-sale {
                background-color: $orange;
            }
            &.pack {
                background-color: $orange;
            }
        }
    }
}

.show-brand-on-product-miniature {
    position: absolute;
    bottom: 5px;
    right: 5px;
    max-height: 60px;
    max-width: 60px;
}