// Product grid

.product-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 281px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 546px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 811px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (min-width: 1076px) {
    grid-template-columns: repeat(5, 1fr);
  }
}

.pagination .navigate-before,
.pagination .navigate-next {
  display: block;
  position: relative;
  height: 20px;
  width: 14px;
  top: -2px;
  left: -5px;
}

// Product miniatures

.product-miniature-card {

    .card-img-top {
      text-align: center;
    }
  
    ul.product-flags {
      position: absolute;
      top: 0.5rem; 
      left: 0.75rem;
      &>li {
        display: block;
        margin-bottom: 0.5rem;
        background-color: $primary;
        &.discount {
          background-color: $success;
        }
        &.on-sale {
            background-color: $orange;
        }
        &.pack {
          background-color: $orange;
        } 
      }
    }
  
    .card-body {
      padding: 1rem 0.5rem 0.5rem;
    }
  
    .price {
      font-size: 1.5em;
      line-height: 1.25em;
      font-weight: 600;
      margin: 0 0.25rem;
    }
  
    .variant-links .color {
      width: 1.25rem;
      height: 1.25rem;
      border: 1px solid rgba(0,0,0,.5);
      margin: 0 0.25rem;
    }
  }

.show-brand-on-product-miniature {
    position: absolute;
    bottom: 5px;
    right: 5px;
    max-height: 60px;
    max-width: 60px;
}