/*
$body-background-color: #fefefe;

body {
  background: $body-background-color;
}
*/

@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~material-design-icons/iconfont/material-icons.css";


#header .header-nav {
  border-bottom: 2px solid #f1f1f1;
  // max-height: 50px;
  margin-bottom: 30px;

  .left-nav>div,
  .right-nav>div {
    display: inline-block;
  }

}


