@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~material-design-icons/iconfont/material-icons.css";

.container-fluid.max-width {
  max-width: 1170px;
}

#header .header-nav {
  border-bottom: 2px solid #f1f1f1;
  margin-bottom: 10px;

  .left-nav>div,
  .right-nav>div {
    display: inline-block;
  }

}

#header #search_widget {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 250px;
  height: 60px;
}

.card-img-top {
  text-align: center;
}

.card-body {
  padding: 1rem 0.5rem 0.5rem;
}

.pagination .navigate-before,
.pagination .navigate-next {
  display: block;
  position: relative;
  height: 20px;
  width: 14px;
  top: -2px;
  left: -5px;
}

// JQuery UI overrides

body {

  .ui-widget {
    font-family: inherit;
    font-size: inherit;
  }
  
  .ui-widget-content {
    border: 1px solid $border-color;
    background: $body-bg;
    color: $body-color;
    a {
      color: $body-color;
    }
  }
  
  .ui-state-focus, 
  .ui-widget-content .ui-state-focus {
    border: none;
    color: $list-group-action-hover-color;
    text-decoration: none;
    background: $list-group-hover-bg none;
  }
  
  .ui-menu .ui-menu-item a.ui-state-focus {
    margin: 0;
  }
}
