/*
$body-background-color: #fefefe;

body {
  background: $body-background-color;
}
*/

@import "custom";
@import "../node_modules/bootstrap/scss/bootstrap";


#header .header-nav {
  border-bottom: 2px solid #f1f1f1;
  max-height: 50px;
  margin-bottom: 30px;
}

